.feature {
  padding-top: 100px;

  .row {
    margin-bottom: 50px;

    &:last-child {
      .line {
        width: 80%;
      }
    }
  }

  h3 {
    @extend .font-roboto;
    @include fontSize(29px);
    color: #343434;
    font-weight: 700;
    text-transform: uppercase;
  }

  .media {
    margin-bottom: 30px;
  }

  ul > li, p {
    @extend .font-roboto;
    @include fontSize(20px);
    color: #343434;
    text-align: justify;
  }

  p {
    margin-bottom: 20px;
    text-align: justify;
  }

  ul > li {
    margin-bottom: 10px;
  }

  .feature__buttons {
    margin-top: 50px;
    .btn {
      font-weight: 700;
      margin-bottom: 10px;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
@media (max-width: 768px) {
  .feature{
    padding-top: 30px;
  }
  ul li {
    text-align: justify;
  }
  .feature__mobile__items {
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;

    img {
      margin-bottom: 30px;
    }

    h3 {
      @include fontSize(25px);
      text-align: center;
    }
  }
  .media {
    padding-top: 20px;
  }
  .row{
    margin-bottom: 20px !important;
  }
  .feature__buttons{
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: center;
    button{
      margin-right: 0 !important;
      margin-bottom: 10px;
    }
  }
  .img-fluid{
    padding-top: 20px;
  }
  .box-img{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

}