.header {
  .mobile_navbar {
    display: none;
  }
  @media (max-width: 991.98px) {
    .bm-burger-button {
      top: 15px !important;
      z-index: 999999 !important;
    }
    .navbar {
      display: none;
    }
    .mobile_navbar {
      z-index: 999 !important;
      display: block;
      height: 60px;
      position: fixed;
      background: #fff;
      width: 100%;
      overflow: hidden;

      .navbar-brand {
        display: block;
        color: #000;
        font-size: 16px;
        text-align: left;
        padding-right: 25px;

        span {
          font-weight: bold;
        }
      }

      .navbar__useraction {
        padding-top: 10px;
        padding-right: 5px;

        a {
          font-size: 16px;
          margin-right: 0;
          padding-right: 0;
          padding-left: 0;
          text-align: center;
        }
      }
    }
  }
}