.carousel {
  padding-top: 54px;

  .swiper-container {
    background-color: #ffbb64;
    height: 399px;

    .carousel__text {
      padding: 80px 40px 40px 65px;
      h3 {
        @extend .font-roboto;
        @include fontSize(30px);
        margin-bottom: 30px;
        font-weight: 700;
      }

      p {
        font-size: 22px;
        text-align: justify;
      }
    }

    .carousel__image img {
      width: 100%;
      height: 399px;
    }

    @media (max-width: 767.98px) {
      height: 773px;

      .carousel__text {
        padding: 50px 40px 0px 40px;
      }
    }

    @media (min-width: 768px) and (max-width: 991.98px) {
      height: 735px;

      .carousel__text {
        padding: 50px 60px 40px 60px;
      }
    }
  }

  @media (max-width: 767.98px) {
    h1 {
      margin-bottom: 30px;
    }
  }

}


.carousel__buttons {
  margin-top: 40px;

  .btn {
    width: 200px;
    height: 35px;

    &:first-child {
      margin-right: 10px;
    }
    font-weight: 700;

 }

  .btn__main__hotline {
    background: #fff;
    color: #f36d25;
    border-color: #f36d25;
  }

  @media (max-width: 767.98px) {
    text-align: center;

    .btn {
      &:first-child {
        margin-right: 0;
      }
    }
    .btn__main {
      width: 200px;
      margin-bottom: 10px;
      font-size: 14px;
    }
    
    .btn__main__hotline {
      font-size: 14px;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    text-align: center;
    .btn {
      width: 230px !important;
      &:first-child {
        margin-right: 10px;
      }
    }

    .btn__main {
      width: 190px;
      margin-bottom: 10px;
      font-size: 16px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    text-align: center;
    .btn__main {
      width: 190px;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}