.footer {
  background-color: #2a2a2a;
  //padding-top: 40px;
  padding-bottom: 40px;
  position: relative;

  .box_call {
    position: fixed;
    bottom: 1%;
    right: 17px;
    z-index: 999;
    display: block;
    width: 79px;
    height: 79px;

    img {
      width: 79px;
      height: 79px;
    }
  }

  .footer__logo {
    position: absolute;
    bottom: 7%;
    left: 0;
  }

  h3 {
    color: #fff;
    @include fontSize(14px);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 30px;
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;
      margin-bottom: 10px;

      a {
        @extend .font-roboto;
        color: #fff;
        font-size: 14px;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }

  .footer-top__nav {
    margin-top: 50px;

    .nav-item {
      margin-left: 89px;
    }

    .footer-top__nav__phone {
      padding-left: 16px;
      background: url('../../assets/footer/phone-icon.png') no-repeat left;
    }
  }

  .footer-bottom {
    padding-top: 25px;
  }

  .footer-bottom__social__nav {
    //margin-top: 30px;

    .nav-item {
      margin: 0 8px;

      .nav-link {
        @include fontSize(16px);
        text-align: center;
        padding: 5px 10px;
        border: 1px solid #fff;
      }
    }
  }
}
.box-info-footer{
  padding-top: 50px;
  border-bottom: 1px solid #ffffff;
  .row{
    div{
      padding-bottom: 20px;
      p{
        font-size: 14px;
        color: #ffffff;
      }
    }
  }
}
@media  (max-width: 768px){
  .footer__logo{
    position: unset !important;
    margin-top: 20px;
  }
  .footer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media  (max-width: 992px) {
  .box-case-study , .box-more-info{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
